html
	head
		title Tick-Tock
		link(rel="icon" href="../img/favicon.ico")
		link(rel="stylesheet" href="../css/style.css")
	body
		h1 From one moment to another.

		.clock
			.clockface
				.hand.hour-hand
				.hand.min-hand
				.hand.second-hand